# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# next.js
/.next/
/out/
/.swc/

# production
/build
/dist

# misc
.DS_Store
*.pem
Thumbs.db
desktop.ini

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env
.env.development
.env.test
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE/Editor specific
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# testing
/coverage
/.nyc_output

# logs
logs
*.log

# cache
.npm
.eslintcache
.stylelintcache
.prettiercache

# turbo
.turbo

# storybook
storybook-static/

# PWA / Service Worker
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map